USE [master]
GO
/****** Object:  Database [DBTarefaTeste]    Script Date: 09/10/2024 16:37:31 ******/
CREATE DATABASE [DBTarefaTeste]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBTarefaTeste', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\DBTarefaTeste.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBTarefaTeste_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\DBTarefaTeste_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTarefaTeste].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTarefaTeste]
GO
/****** Object:  Table [dbo].[StatusTarefa]    Script Date: 09/10/2024 16:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTarefa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](100) NOT NULL,
 CONSTRAINT [PK_StatusTarefa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefas]    Script Date: 09/10/2024 16:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](1000) NOT NULL,
	[Data] [datetime] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDStatusTarefa] [int] NOT NULL,
 CONSTRAINT [PK_Tarefas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 09/10/2024 16:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Senha] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StatusTarefa] ON 

INSERT [dbo].[StatusTarefa] ([ID], [Descricao]) VALUES (1, N'Fazer')
INSERT [dbo].[StatusTarefa] ([ID], [Descricao]) VALUES (2, N'Fazendo')
INSERT [dbo].[StatusTarefa] ([ID], [Descricao]) VALUES (3, N'Feito')
SET IDENTITY_INSERT [dbo].[StatusTarefa] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarefas] ON 

INSERT [dbo].[Tarefas] ([ID], [Descricao], [Data], [IDUsuario], [IDStatusTarefa]) VALUES (1, N'Tarefa', CAST(N'2024-10-09T00:00:00.000' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Tarefas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [Nome], [Senha]) VALUES (1, N'Reginaldo', N'Peste123')
INSERT [dbo].[Usuario] ([ID], [Nome], [Senha]) VALUES (2, N'Antony', N'Antony123')
INSERT [dbo].[Usuario] ([ID], [Nome], [Senha]) VALUES (3, N'Guilherme', N'Guilherme123')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Tarefas]  WITH CHECK ADD  CONSTRAINT [FK_Tarefas_StatusTarefa] FOREIGN KEY([IDStatusTarefa])
REFERENCES [dbo].[StatusTarefa] ([ID])
GO
ALTER TABLE [dbo].[Tarefas] CHECK CONSTRAINT [FK_Tarefas_StatusTarefa]
GO
ALTER TABLE [dbo].[Tarefas]  WITH CHECK ADD  CONSTRAINT [FK_Tarefas_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Tarefas] CHECK CONSTRAINT [FK_Tarefas_Usuario]
GO
USE [master]
GO
